@model WebApplication2.Models.KategoriDetay
@{
    ViewBag.Title = "UpdateKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"> Kategoriler</li>
        <li class="breadcrumb-item active">Yeni Kategori Ekle</li>
    </ol>


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <i class="fas fa-table"></i>
            Yeni Kategori Ekle
            
        </div>
        <div class="card-body">
            @using(Html.BeginForm("UpdateKategori","Admin", FormMethod.Post, new { enctype="multipart/form-data"}))
            {
                @Html.HiddenFor(m => m.kategoriId)
                <div class="form-group">
                    <label class="control-label">Kategori Adı</label>
                    @Html.TextAreaFor(m=>m.kategoriAdi, new { @class="form-control",placeholder="Kategori Adı Giriniz", required="required",autofocus="autofocus"})
                    @Html.ValidationMessageFor(m=>m.kategoriAdi,"", new {@class="text-danger"})
                </div>
                <a onclick="window.history.back();" class="btn btn-danger">Geri</a>
                <input type="submit" class="btn btn-primary" value="Kaydet"/>
            }
        </div>
    </div>
</div>

