@model WebApplication2.Models.Home.HomeKategorilerViewModel

@using PagedList;

@using PagedList.Mvc;

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .product-container {
        position: relative;
        margin: auto;
        width: 95%;
    }

    .product-item {
        height: 350px;
        width: 300px;
    }

        .product-item .img-responsive {
            cursor: pointer;
            align-content: center;
            max-height: 350px;
            width: 280px;
            padding: 20px;
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
        }

    .caption h5 {
        font-weight: 600;
        font-size: 16px;
        font-style: italic;
        line-height: 20px;
        border-top: 2px solid #333;
        margin-top: 10px;
        padding-top: 10px;
    }

    .caption {
        position: static;
        bottom: 10%;
    }

        .caption .product-item-price {
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
        }

    .product-item-badge {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 5px 12px 6px;
        margin-left: 25px;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        background: #333;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
    }



        .pagination a {
            color: black;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            .pagination a.active {
                background-color: #ffffff;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ff6a00;
            }
</style>


<header class="masthead1">
    <div class="container h-100">
    </div>
</header>

<form method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-5 my-md-3 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" name="search" placeholder="Ürün veya kategori ara" class="inputCom form-control bg-light border-0 small" />
        <div class="searchIcon input-group-append">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>

<div align="center" class="row product-container">

    @foreach (var item in Model.ListOfUrun)
    {
        <div class="col-md-3 col-sm-3 col-sx-6" style="margin-bottom:8px;">
            <div class="thumbnail product-item" align="center">
                <img class="img-responsive" src="../UrunImage/@item.urunResmi" />

            </div>
            <div class="caption">

                <h5 align="center">@item.urunAdi</h5>
                <p align="center" class="product-item-price"> @item.fiyat TL </p>
                <p align="center"> @item.aciklama</p>
                <p>
                    @if (Session["user"] != null)
                    {
                        if (item.miktar > 0)
                        {
                            using (Html.BeginForm("AddtoCart", "Home", new { urunid = item.urunId, url = "Categories" }, FormMethod.Post))
                            {
                                <button type="submit" class="pull-right btn btn-primary js-scroll-trigger">Sepete Ekle<i style="margin-left:5px;" class="fa fa-shopping-cart"></i></button>
                            }
                        <p style="margin-top:8px;">Mevcut</p>
                    }
                    else
                    {
                        <p style="margin-top:8px;">Mevcut Değil</p>
                    }
                }
                else
                {
                    <a>Sepete ekleyebilmeniz için giriş yapınız</a>
                }

                    <div class="product-item-badge">
                        @if (item.ozellik == true)
                        {
                            <p>New</p>
                        }
                        else
                        {
                            <p>old</p>
                        }
                    </div>
                    </p>
                </div>
          </div>
        }
</div>
<hr />
<div align="center" style="width:8%; margin:auto;">
    <br />
    @Html.PagedListPager(Model.ListOfUrun, page => Url.Action("Categories", new { page, search = Request.QueryString["search"], @class = "pagination" }))
</div>

