
@{
    ViewBag.Title = "categories1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="../Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="../Content/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="../Content/css/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="../Content/css/flexslider.css" rel="stylesheet" />
    <link href="../Content/css/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="../Scripts/jquery-1.7.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/superfish.js"></script>
    <script src="../Scripts/jquery.scrolltotop.js"></script>
</head>

<header class="masthead1">
    <div class="container h-100">
    </div>
</header>

<div class="olContent f1"><h4 style="color:black;">Ürün veya kategori ara</h4></div>

<form method="post" class="d-none d-sm-inline-block form-inline mr-auto ml-md-2 my-5 my-md-3 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" name="search" placeholder="Buraya Giriniz" class="inputCom form-control bg-light border-0 small" />
        <div class="searchIcon input-group-append">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>

<div id="myCarousel" class="myCarousel carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="~/Content/images/portfolio/thumbnails/h4.jpg" alt="" /></a></p>
                        <a href="product_detail.html" class="title">Ut wisi enim ad</a><br />
                        <a href="products.html" class="category">Commodo consequat</a>
                        <p class="price">$17.25</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <p><a href="product_detail.html"><img src="~/Content/images/portfolio/thumbnails/h4.jpg" alt="" /></a></p>
                        <a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br />
                        <a href="products.html" class="category">Quis nostrud</a>
                        <p class="price">$32.50</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <p><a href="product_detail.html"><img src="~/Content/images/portfolio/thumbnails/h4.jpg" alt="" /></a></p>
                        <a href="product_detail.html" class="title">Know exactly turned</a><br />
                        <a href="products.html" class="category">Quis nostrud</a>
                        <p class="price">$14.20</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <p><a href="product_detail.html"><img src="~/Content/images/portfolio/thumbnails/h4.jpg" alt="" /></a></p>
                        <a href="product_detail.html" class="title">You think fast</a><br />
                        <a href="products.html" class="category">World once</a>
                        <p class="price">$31.45</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="item">
            <ul class="thumbnails">
                <li class="span3">
                    <div class="product-box">
                        <p><a href="product_detail.html"><img src="~/Content/images/portfolio/thumbnails/h4.jpg" alt="" /></a></p>
                        <a href="product_detail.html" class="title">Know exactly</a><br />
                        <a href="products.html" class="category">Quis nostrud</a>
                        <p class="price">$22.30</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <p><a href="product_detail.html"><img src="~/Content/images/portfolio/thumbnails/h4.jpgg" alt="" /></a></p>
                        <a href="product_detail.html" class="title">Ut wisi enim ad</a><br />
                        <a href="products.html" class="category">Commodo consequat</a>
                        <p class="price">$40.25</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <p><a href="product_detail.html"><img src="~/Content/images/portfolio/thumbnails/h4.jpg" alt="" /></a></p>
                        <a href="product_detail.html" class="title">You think water</a><br />
                        <a href="products.html" class="category">World once</a>
                        <p class="price">$10.45</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <p><a href="product_detail.html"><img src="~/Content/images/portfolio/thumbnails/h4.jpg" alt="" /></a></p>
                        <a href="product_detail.html" class="title">Quis nostrud exerci</a><br />
                        <a href="products.html" class="category">Quis nostrud</a>
                        <p class="price">$35.50</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

